@charset 'UTF-8';
*{
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
}

:root{
     --stats-color-bg: #FBFBFF;
}

section{
     display: grid;
     grid-template-columns: 2fr 1fr;
     grid-template-rows: 1fr;
     padding: 5px;
     margin: 5px;
}
header{
     margin: 10px;
}
header > p{
     font-size: 13px;
     font-weight: lighter;
     color: #6b6b6b;
}
.stats{
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     justify-content: start;
}
.container-stats{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 11px;
     align-items: center;
     justify-content: center;
}
.container-stats > div{
     border: 1px solid #00000023;
     border-radius: 3px;
     background-color: var(--stats-color-bg);
     font-size: 1.1em;
     padding: 20px;
     width: 87px;
     text-align: center;
}
.social-limits{
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     gap: 7px;
     margin-bottom: 35px;
}
select{
     width: 100%;
     height: 30px;
     cursor: pointer;
     border: 1px solid #00000049;
     padding: 4px;
     border-radius: 3px;
}
#btn-limits{
     width: 150px;
     height: 30px;
     background-color: #252525;
     color: #fff;
     border: none;
     cursor: pointer;
     border-radius: 3px;
}

textarea{
     width: 85%;
     height: 100%;
     padding: 10px;
     border: 1px solid #00000049;
     border-radius: 4px;
     margin-top: 20px;
     margin-left: 10px;
     font-size: 18px;
}