@charset 'UTF-8';

*{
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
}

body{
     padding: 5px;
     margin: 4px;
}
header{
     margin: 5px;
}
.container-limits{
     display: flex;
     flex-direction: column;
     padding: 4px;
}
.social-limits{
     margin-bottom: 15px;
}
.bttns-social{
     width: 100px;
     height: 27px;
     padding: 4px;
     border-radius: 5px;
     cursor: pointer;
     border: none;
}
.bttns-social:hover{
     background-color: #000;
     color: #fff;
}